@import './params.scss';

.cm-circle {
    display: inline-block;
    height: 24px;
    width: 24px;
    font-size: 14px;
    background: $Grey-6;
    color: $white;
    border-radius: 12px;
    line-height: 24px;
    text-align: center;
    transition: background 0.2s;
    & + .cm-circle {
        margin-left: 10px;
    }
    &:hover {
        background: $Blue-5;
    }
}