@import './params.scss';

.cm-circle {
    display: inline-block;
    height: 24px;
    width: 24px;
    font-size: 14px;
    background: $Grey-6;
    color: $white;
    border-radius: 12px;
    line-height: 24px;
    text-align: center;
    transition: background 0.2s;
    & + .cm-circle {
        margin-left: 10px;
    }
    &:hover {
        background: $Blue-5;
        color: $white;
    }
}
.cm-content {
    padding: 20px;
}
.cm-option {
    margin-top: 20px;
}
.cm-no-data {
    background: $Grey-2;
    padding: 28% 0;
    width: 100%;
    color: $Grey-6;
    text-align: center;
    border: 1px dashed $Grey-4;
    max-height: 500px;
}
.cm-no-data.min {
    padding: 18% 0;
}
.cm-dropbox {
    height: 180px;
    line-height: 1.5;
}
.cm-edit-node {
    display: flex;
    align-items: center;
}
.cm-edit-node .title {
    display: inline-block;
    width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.cm-edit-node .operate .ant-btn {
    margin-bottom: 0;
}
/* page-home */
.home-content {
    margin: 0 auto;
    width: 1080px;
}
.home-title {
    margin: 20px 0 40px;
    font-size: 28px;
}
.home-info {
    line-height: 30px;
    margin-bottom: 30px;
}
/* page-choose */
.choose-box {
    margin: 80px auto;
    width: 500px;
    text-align: center;
    ul {
        line-height: 30px;
    }
}
/* page-station */
.station-tree-layout {
    overflow-x: hidden;
    overflow-y: hidden;
    &:hover {
        overflow-y: auto;
        overflow-x: auto;
    }
}
.station-tree {
    padding: 20px 10px 20px 20px;
    &.edit {
        padding: 20px 10px;
    }
}
.station-tree-title {
    margin-bottom: 10px;
    font-size: 18px;
    color: $Blue-9;
}