@import './params.scss';

.fn-right {
    float: right;
}
.fn-left {
    float: left;
}

.fn-bg-white {
    background: $white;
}
.fn-bg-grey {
    background: $Grey-2;
}
.fn-m-l-5 {
    margin-left: 5px;
}
.fn-m-l-10 {
    margin-left: 10px;
}
.fn-m-l-15 {
    margin-left: 15px;
}
.fn-m-l-20 {
    margin-left: 20px;
}
.fn-m-l-25 {
    margin-left: 25px;
}
.fn-m-l-30{
    margin-left: 30px;
}
.fn-m-l-35 {
    margin-left: 35px;
}
.fn-m-l-40 {
    margin-left: 40px;
}

.fn-m-r-5 {
    margin-right: 5px;
}
.fn-m-r-10 {
    margin-right: 10px;
}
.fn-m-t-5 {
    margin-top: 5px;
}
.fn-m-t-10 {
    margin-top: 10px;
}
.fn-m-t-15 {
    margin-top: 15px;
}
.fn-m-t-20 {
    margin-top: 20px;
}

.fn-text-center {
    text-align: center;
}