@import './params.scss';
#root {
    height: 100%;
    min-width: 1080px;
    .layout-container {
        height: 100%;
    }
}
/* Top */
.layout-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $white;
    border-bottom: 1px solid $Grey-4;
    height: 49px;
    min-width: 1080px;
    & > * {
        display: inline-block;
        vertical-align: middle;
    }
    & > img {
        margin: 10px 20px; 
    }
    .top-menu-fold {
        margin-left: 20px;
        font-size: 18px;
    }
    .top-right {
        position: absolute; 
        top: 50%;
        right: 20px;
        margin-top: -12px;
        color: $Grey-6;
        font-size: 12px;
    }
    .top-breadcrumb {
        position: absolute; 
        margin-top: -10px;
        top: 50%;
        right: 120px;
    }
}
.layout-top-title {
    display: inline-block;
    margin-left: 20px;
    font-size: 16px;
    color: $primaryColor;
}
.layout-top-user {
    width: calc(100% - 370px);
    font-size: 16px;
    color: $dark;
    .user-name {
        margin-right: 10px;
    }
}
/* middle */
.layout-middle {
    margin-top: 49px;
}
/* bottom */
.layout-footer {
    height: 70px;
    box-sizing: border-box;
}